################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShapeParser/v17/Browse.VC.db-wal
/.vs/ShapeParser/v17/Browse.VC.opendb
